<%- include("header")-%>
    <h2 class="aboutUs">About Us</h2>
    <p class="about-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur error suscipit dolore odit pariatur ipsam et inventore nihil voluptatem architecto, eveniet voluptatum incidunt nam. Aliquid nobis a magni. Illo, nobis!</p>
<%- include("footer")-%>